<nb-card class="card2">
  <nb-card-header>
    <div class="space space2">
      <h6 class="heading text-undefined text-alignment-center text-transform-capitalize">Explore our Work</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space6 pl-2">
      <div class="space space3">
        <div class="space space8 mx-2">
          <img class="image1" src="/assets/images/default.svg" src="/assets/images/4.jpg">
        </div>
        <div class="space space81 mx-2">
          <img class="image1" src="/assets/images/default.svg" src="/assets/images/4.jpg">
        </div>
        <div class="space space811 mx-2">
          <img class="image2" src="/assets/images/default.svg" src="/assets/images/46.jpg">
        </div>
        <div class="space space81111 mx-2">
          <img class="image3" src="/assets/images/default.svg" src="/assets/images/8.jpg">
        </div>
      </div>
      <div class="space space3 mt-2">
        <div class="space space8111 mx-2">
          <img class="image3" src="/assets/images/default.svg" src="/assets/images/8.jpg">
        </div>
        <div class="space space811111 mx-2">
          <img class="image3" src="/assets/images/default.svg" src="/assets/images/8.jpg">
        </div>
        <div class="space space8111111 mx-2">
          <img class="image6" src="/assets/images/default.svg" src="/assets/images/37.jpg">
        </div>
        <div class="space space81111111 mx-2">
          <img class="image7" src="/assets/images/default.svg" src="/assets/images/3.jpg">
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space7">
      <div class="divider"></div>
    </div>
  </nb-card-footer>
</nb-card>